:root {
    --bgcolor: #6a6a6a;
    --bgtarget: #faf9f9;
    --shadow: rgba(107, 100, 100, 0.575);
    --colorletra: rgb(17, 16, 16);
    --bluebtn: #4bcffa;
    --hoverfc: #5a6589;
    --headercolor: #1e272e;
    --bgfactura: #d2dae2;
    --btndarkcolor: #212529;
}

/* PARA SWAL */
.custom-swal {
    font-size: 12px;
    padding: 10px;
}

/* PARA SWAL */

.bgvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background-color: var(--bgtarget);
    backdrop-filter: blur(20px);
}

.tarjeta-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 350px;
    height: 350px;
    border-radius: 16px;
    background: var(--bgtarget);
    box-shadow: 0px 0px 7px 3px var(--shadow);
    position: relative;
}

.logo {
    top: -150px;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.contenedor-input {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    min-height: 40%;
    justify-content: space-around;
}

.input {
    outline: none;
    min-width: 75%;
    padding: 10px 0px;
    background-color: transparent;
    border: none;
}

.ctninput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(228, 228, 238);
    border-radius: 5px;
    position: relative;
}

.icon {
    font-size: 20px;
}

.eyed {
    position: absolute;
    right: 6px;
    cursor: pointer;
    font-size: 25px;
}


/*Estilos del spinner*/
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: blur 2s linear;
}

#spinner::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid rgb(217, 217, 217);
    border-right-color: var(--headercolor);
    animation: girar 1s linear infinite;
}

.spinner.ocultar {
    display: none;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes blur {
    0% {
        backdrop-filter: blur(10px);
    }

    50% {
        backdrop-filter: blur(8px);
    }

    100% {
        backdrop-filter: blur(.5px);
    }
}

/*Fin de estilos de spinner*/
/*Estilos de dashboard*/
/*Estilos del contenedor*/
.contentdash {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    position: relative;
}

.ctnpage {
    display: flex;
    justify-content: center;
    min-height: 93vh;
    overflow-y: auto;
}

/*Fin Estilos del contenedor*/
/*Estilos del header*/
.ctnheader {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    background-color: var(--headercolor);
}

.hambur {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    width: 40px;
    height: 100%;
    color: white;
    font-size: 40px;
    font-weight: lighter;
}

.perfil {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.perfil .user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    color: white;
}

.perfil-nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.icondrop {
    font-size: 20px;
    color: white;
    transition: all .2s;
}

.icondrop.active {
    transition: all .2s;
    transform: rotate(180deg);
}

.btndrop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

/*Estilos del menudrop*/
.boxdrop {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 70px;
    right: 2px;
    bottom: -71px;
    box-shadow: 0px 0px 7px 3px var(--shadow);
    border-radius: 5px;
    background-color: white;
}

.boxdrop.active {
    display: flex;
    z-index: 1000;
}

.dropmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.drop_menu_option {
    display: flex;
    text-decoration: none;
    justify-content: left;
    align-items: center;
    width: 90%;
    height: 50%;
    gap: 10px;
    border-radius: 5px;
    transition: all .1s;
}

.drop_menu_option:hover {
    background-color: var(--bgtarget);
}

.drop_menu_option i,
.drop_menu_option div {
    display: flex;
    align-items: center;
    color: black;
    height: 100%;
}

/*Fin Estilos del menudrop*/

/*Fin Estilos del header*/
/* /* Estilos del footer */
.ctnfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    height: 2vh;
    background-color: var(--headercolor);
}

.text-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff47;
    height: 100%;
    font-size: 10px;
}

/* Fin Estilos del footer */
/*Estilos de la barra lateral*/
#sidebar {
    background: rgb(255, 255, 255);
    border-radius: 0px 12px 12px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.sidebarop {
    width: 100%;
    height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 4px;
    margin-top: 10px;
    transition: all .2s;
    color: var(--colorletra);
}

/*Fin Estilos de la barra lateral*/

.sidebarop:hover {
    border-radius: 10px;
    color: var(--bgtarget);
    transition: all .1s;
    background-color: var(--headercolor);
}


.ctnform {
    display: flex;
    align-items: flex-start;
    padding-top: 3%;
    justify-content: center;
    transition: all .7s;
    width: 88vw;
    height: calc(100vh - 7vh);
}

.ctnform.active {
    transform: translateX(-52px);
    position: absolute;
    margin: auto;
    right: 0px;
    width: 94vw;
    transition: all .7s;
}

.targetform {
    width: 90%;
}

/*Estilos del centro*/
.centro {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    transition: all .2s;
    width: 100vw;
    height: calc(100vh - 7vh);
    gap: 20px;
    padding: 20px;
}


/* Estilos del componente tarjeta */
.targetdash {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 5px var(--shadow);
    overflow: hidden;
}

.tarjeta-logo {
    width: 100%;
    height: 50%;
}

.tarjeta-body {
    width: 100%;
    height: 100%;
}

.targettitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    height: auto;
    border: 1px solid red;
}

.targetcontenido {
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: auto;
    border: 1px solid red;
}

.navar {
    display: none;
}

/*Estilos para offcanvas sidebar*/


/*Estilos para la tabla de clientes*/
.ctnacciones {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btnacciones {
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: var(--bluebtn);
    color: white;
}

#listitem {
    display: flex;
    align-items: center;
    gap: 12px;
}

/*estilos para el formulario facturas */
.ctnfact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all .7s;
    height: calc(100vh - 7vh);
    width: 100vw;
}

#formfactura {
    width: 99%;
}

.datosfactura {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 16%;
}

.titlefact {
    background-color: var(--bgfactura);
}

.headerfact {
    height: 92px;
    background-color: var(--bgfactura);
}

.seccionbuscador {
    border: 1px solid red;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: (var(--bgfactura));
}

.select2 {
    width: 100%;
}

.lablefact {
    font-size: 11px;
}

.inputform {
    width: 100%;
    font-size: 10px !important;
}

.inputbody {
    display: block;
    width: 100%;
    padding: 4px 3.5px;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 2px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 10px;
    height: 25px;
}

.datosIVA {
    display: flex;
    align-items: center;
    height: 100%;
    width: 16%;
}

.baseizquierda {
    width: 80%;
}

.body_factura {
    height: 440px;
    font-size: 10px;
}

.datostotal {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 16%;
}

.icondelete {
    font-size: 25px;
}

.ctnbtns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 65px;
    border-top: 1px solid rgba(137, 135, 135, 0.789);
}

.ctnbtns .btns {
    width: 180px;
}

.ctnproducto {
    display: flex;
    flex-direction: row;
    background-color: var(--bgfactura);
}

/* Sección de reportes */

.ctnreport {
    display: flex;
    align-items: center;
    height: calc(100vh - 7vh);
    width: 60vw;
}

.reporte_contenedor_form {
    width: 100%;
}

.reporte_fecha {
    width: 40%;
    height: 100%;
    margin: 1px;
    padding: 5px;
}

.containerta {
    font-size: 12px;
}

.tablareport {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Fin Seccion Reporte */


/* Modificar fondo de swal */
.swal2-backdrop-show {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

/* Estilos para formulario registro proveedores */
#form_insert .required::after,
#form_edit .required::after {
    content: " *";
    color: red;
}

/* Fin estilos para formulario registro proveedores */
/* Seccion pagina de perfil */
.perfil_ctn {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.perfil_ctn .perfil_box_group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.perfil_ctn .perfil_box {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px var(--shadow);
}

.mensaje_error_password {
    font-size: 12px;
    visibility: hidden;
    height: 17px;
}

.mensaje_error_password.active {
    visibility: visible;
}

/* Fin seccion pagina de perfil */
/* Seccion pagina de registrar usuario */
.registrar_ctn {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-usuario-registrar {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px .5px var(--shadow);
    margin: 10px;
}

#form_create_user label::after {
    content: '*';
    color: red;
}

.user_group_input {
    height: 80px;
}

.card_form {
    width: 600px;
    height: 75vh;
}


@keyframes pulse {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#iconshufle.active {
    animation: pulse 0.5s;
}

/* Fin seccion pagina de registrar usuario */

/* Seccion pagina no permission */
.no-permission-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
}

.no_permission {
    background: white;
    padding: 8px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #f5c6cb;
}

.no_permission div {
    font-size: 70px;
}

/*Fin seccion pagina no permission */

/*Estilos para smartphones*/
@media screen and (min-width:320px) and (max-width: 768px) {

    /* Seccion dashboard */
    .targetdash {
        min-height: 300px;
        width: 95%;
        margin-bottom: 10px;
        box-shadow: 0px 0px 5px 1px var(--shadow);
    }

    .centro {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: scroll;
        width: 100vw;
        height: calc(100vh - 7vh);
        gap: 0;
        padding: 10px 0px 0px 0px;
    }

    /* Fin Seccion dashboard */


    .ctnproducto {
        display: flex;
        flex-direction: row;

    }

    .bgvideo {
        display: none;
    }

    .ctnproducto select {
        width: 70% !important;
    }

    .tarjeta-login {
        width: 340px;
        height: 340px;
        gap: 15px;
    }

    .body_factura {
        margin-bottom: 1px !important;
    }

    .ctnheader {
        position: sticky;
        top: 0px;
        z-index: 100;
    }

    .targetform {
        width: 100%;
    }

    .targetfact {
        width: 96%;
    }

    /* Seccion reporte */
    .reporte_fecha {
        width: 49%;
        margin: 1px;
    }

    .containerta {
        font-size: 12px;
        width: 100%;
        overflow-y: scroll;
    }

    .tablareport {
        overflow-x: scroll;
        justify-content: left;
    }

    .ctnreport {
        width: 90%;
    }

    /* Fin seccion reporte */
    /* Seccíon perfil y contraseña*/
    .perfil_ctn {
        width: 100%;
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
    }

    .perfil_box_group {
        flex-direction: column;
        align-items: center;
        height: 1080px;
    }

    .perfil_ctn .perfil_box {
        width: 95%;
        height: 300px;
    }

    .perfil_box {
        margin-bottom: 20px;
    }

    /*Fin seccíon perfil y contraseña */
    .ctnbtns {
        justify-content: center;
        gap: 4px;
        align-items: center;
        height: 107px;
        flex-direction: column;
    }

    .ctnbtns .btns {
        width: 100%;
    }

    .factuinput {
        width: 100%;
    }

    .datosfactura {
        width: 98%;
        padding: 0px 20px 0px 20px;
    }

    .headerfact {
        height: 440px;
        background-color: var(--bgfactura);
        flex-direction: column;
        align-items: center;

    }

    /* Seccion pagina de registrar usuario */
    .registrar_ctn {
        width: 100%;
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .card-usuario-registrar {
        width: 350px;
        height: 160px;
        box-shadow: 0px 0px 7px .5px var(--shadow);
        margin: 10px;
    }

    .user_group_input {
        height: 55px;
    }

    .card_form {
        height: 91vh;
    }

    /* Fin seccion pagina de perfil */
    /* Seccion pagina no permission */


    .no_permission {
        background: white;
        width: 96%;
        padding: 8px 8px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid #f5c6cb;
    }

    .no_permission div {
        font-size: 60px;
    }

    /*Fin seccion pagina no permission */

}

/*Estilos para tablets y algunos telefonos*/
@media screen and (min-width:769px) and (max-width: 1024px) {}